.App {
  text-align: center;
  font-family: "Lexend Mega", sans-serif;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #dfebc1;
}

.App-h1 {
  font-size: 3rem;
  color: #386641;
  width: 100vw;
}

.App-h1-wrapper {
  height: 25vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #dfebc1;
}
